<!doctype html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Distance Education - {% block title %}Welcome!{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}" />

    <!-- Custom CSS -->
    {% load static %}
    {% block customCSS %}
    {% endblock %}

</head>

<body>
    {% include 'myapp/navbar.html' %}

    <br />
    <div class="container">

        {% block body_block %} {% endblock %}
        {% block content %} {% endblock %}
    </div>
    <hr />
    <div>
        <ul>
            <li class="hbar1">
                <a href="/myappF23/about">Find out about our E-Learning site</a>
            </li>
            <li class="hbar1">
                <a href="{% url 'index' %}">Click here to return to main page</a>
            </li>
            <li class="hbar1">
                <a href="{% url 'detail' %}">Click here for more details</a>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
</body>

</html>