{% extends 'myapp/base.html' %}

{% block title %} Place Order {% endblock %}

{% block content %}
<!-- Course list -->
<div class="my-2">
    {% if msg %}
    <div class="alert alert-success">{{msg}}</div>
    {% endif %}
    {% if course_list %}
    <h2>List of Courses</h2>
    <ol>
        {% for course in course_list %}
        <li>{{course.title}} ({{course.level}}) - ${{course.price}}</li>
        {% endfor %}
    </ol>
    {% else %}
    <strong>There are no courses</strong>
    {% endif %}
</div>

<!-- place order form -->
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}