{% extends 'myapp/base.html' %}

{% block title %} Register {% endblock %}


{% block customCSS %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="row main d-flex justify-content-center">
    <div class="main-login main-center bg-secondary w-50 text-white">
        <h3 class="text-center pt-5">Register</h3>
        <form id="register-form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% if errors %}
            <div class="alert alert-danger">
                {{ errors }}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}" class="form-control-label">NAME</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="form-control-label">EMAIL</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="form-control-label">CREATE PASSWORD</label>
                <div class="">
                    {{ form.password }}
                    <i class="fa fa-eye text-dark" id="password_eye"
                        style="position: relative; bottom: 32px; left: 290px; cursor: pointer"></i>
                </div>
            </div>


            <div class="text-center login-button my-2">
                <button type="submit" class="btn btn-primary">SIGNUP</button>
            </div>

            <div id="login-link" class="text-center">
                <a href="{% url 'user_login' %}" class="text-white fw-bold">Login here</a>
            </div>

        </form>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const password = document.getElementById('id_password');
        const eye = document.getElementById('password_eye');

        eye.addEventListener('click', () => {
            if (eye.classList.contains('fa-eye')) {
                password.type = 'text';
                eye.classList.remove('fa-eye');
                eye.classList.add('fa-eye-slash');
            } else {
                password.type = 'password';
                eye.classList.add('fa-eye');
                eye.classList.remove('fa-eye-slash');
            }
        });
    });
</script>
{% endblock %}